:root {
    /* Dark Backgrounds */
    --color-bg: #101e2d;
    --color-bg1: #0c1923;
    --color-bg2: #003d5b;

    /* Primary and Accent Colors */
    --color-primary: #002f45;
    --color-accent: #b46f4b;

    /* Text Colors */
    --color-text: #e0e0e0;
    --color-light-text: #a8a8a8;

    /* Alert Colors */
    --color-success: #4caf50;
    --color-warning: #ff9e1b;
    --color-danger: #c62828;

    /* Utility Colors */
    --color-black: #000000;
    --color-white: #ffffff;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
    font-family: 'InterVariable', 'Inter', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'InterVariable', sans-serif;
    }
}
html, body {
    height: 100%;  
    margin: 0;  
    padding: 0;  
    display: flex;
    justify-content: center;  
    align-items: center;  
}


body {
    font-family: 'InterVariable', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}


#login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; 
    text-align: center;
}


input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: var(--color-accent);
}

@media (max-width: 400px) {
    #login-container {
        width: 90%; 
    }
}
